arrow==0.17.0
autopep8==2.3.1
beautifulsoup4==4.12.3
blinker==1.8.2
bs4==0.0.2
byte==0.3.1
certifi==2024.7.4
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
curl2pyreqs==0.4.1
Cython==3.0.11
Faker==26.0.0
Flask==3.0.3
gdshortener==1.0.1
google==3.0.0
html5lib==1.1
idna==3.7
itsdangerous==2.2.0
Jinja2==3.1.4
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdurl==0.1.2
mechanize==0.4.10
mnemonic==0.21
ms4==2.10.0
Nuitka==2.4.8
ordered-set==4.1.0
protobuf==5.28.0
protobuf-decoder==0.4.0
psutil==6.0.0
pyarmor==8.5.11
pyarmor.cli.core==6.5.3
pycodestyle==2.12.1
pycountry==24.6.1
pycryptodome==3.20.0
pyfiglet==1.0.2
Pygments==2.18.0
PyJWT==2.9.0
pyparsing==2.4.7
pyperclip==1.9.0
PySocks==1.7.1
python-cfonts==1.5.2
python-dateutil==2.9.0.post0
PyYAML==6.0.1
render==1.0.0
requests==2.32.3
rich==13.7.1
six==1.16.0
soupsieve==2.5
Topython==0.3
urllib3==2.2.2
user_agent==0.1.10
uuid==1.30
webencodings==0.5.1
Werkzeug==3.0.4
zstandard==0.23.0
